{% extends 'content_base.html' %}

{% block main_content %}

<div style="text-align: center; margin: 150px;">

<h1>Terms of Service</h1>

<h2>I. Identification and Contact Information</h2>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae autem fugiat eius iste. Dolore eveniet, vero, soluta ut deleniti officiis sequi natus est aperiam corporis distinctio ullam harum ipsa debitis?</p>

<h2>II. Description of Products/Services</h2>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut tempora molestiae incidunt quo fugit nemo eius natus corrupti unde dolores! Sit dicta dignissimos aliquam nam ullam debitis ipsa eveniet unde.</p>

<h2>III. Limitation of Liability</h2>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos nam exercitationem repellendus quibusdam blanditiis labore sint nobis repellat, in, sunt consectetur? Ipsa a iure nobis facilis alias facere sit quisquam.</p>
<h2>IV. User Accounts and Content Restrictions</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem recusandae a beatae. Vitae architecto ipsum eveniet tempore veritatis corporis dolores dicta fugit? Laboriosam illum officia minima quae nostrum! Reiciendis, laudantium?</p>
<h2>V. Order Placement, Pricing, Payment Methods and Cancellation</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae sunt deserunt illo, quam quis distinctio dolorum eligendi pariatur facilis iusto dolorem ab voluptas vel. Ad culpa libero unde laudantium explicabo.</p>
<h2>VI. Warranty/Guarantee Information</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet omnis eum repellat ab sunt rerum, adipisci ipsum voluptatum qui alias nihil! Corporis ex necessitatibus voluptates explicabo vero dolorum cumque ipsa.</p>
<h2>VII. Withdrawal Right</h2>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam, hic blanditiis temporibus, labore ex corrupti tempora quam vel amet animi rerum suscipit assumenda minima omnis alias? Consequatur iste voluptas ad.</p>
<h2>VIII. Safety Information and Instructions for Use</h2>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus delectus quod doloremque soluta vitae repellat, quas beatae pariatur et, necessitatibus incidunt unde magnam possimus neque iste exercitationem aperiam quidem molestias?</p>

By engaging with [Your Business] website/application, you consent to these Terms of
Service. Continued use of the website/application post any changes implies your
acceptance to be legally bound by these updated and/or revised terms.
Last updated on: 25.02.2024

</div>

{% endblock %}