{% extends 'auth_base.html' %}

{% block body %}

<div style="text-align: center; margin: 150px;">
    Legal Notice
    stonktrades.de is not an official app


    Details pursuant to § 5 of the Telemedia Act:
    Here is some
    address 
    1337 Technoland


    Represented by:
    The managing directors: Bull and Bear


    Contact:
    Phone: +49 (1337) 1337 0
    Email: notavailable(@)stonktrades.de


    Commercial Register:
    ---
    ---


    VAT:
    VAT identification number acc. to §27 a of the German Value Added Tax Act:
    DE 133713371337


    Responsible for the Content acc. to § 55 Section 2 of RStV:
    stonktrades.de
    again some
    address here
    1337 Technoland

    Dispute Settlement
    We are neither willing nor obligated to participate in a dispute settlement procedure before a consumer arbitration board.


    Liability for Content
    Pursuant to § 7, Section 1, of the German Telemedia Act (TMG) we, as a service provider, are responsible for our own content on these pages according to applicable laws. In accordance with §§ 8 to 10 of the Telemedia Act we are not obligated to monitor transmitted or stored information from third parties or to investigate circumstances that indicate illegal activities.
    The obligations to remove or block the use of such information in accordance with general laws remain unaffected. However, any such liability is only possible from the point of time we receive knowledge of an actual infringement. If we become aware of such infringement, we will remove all content in question immediately.


    Liability for Links
    Our offer contains links to other third-party websites. As we do not have any control or influence on these websites, we do not assume any responsibility for external content. The respective provider and/or operator of such websites are solely responsible for their content. The linked websites were checked for legal violations at the time of their linking. At that point of time, no illegal content had been identified by us.
    However, permanent monitoring of linked websites is not justifiable without any concrete evidence of possible infringements. Upon notification of any infringement, we will immediately remove such links.


    Copyright
    The content and works published by the owners of this website are subject to German copyright law. The reproduction, editing, distribution and any other use beyond the limits of the copyright law require prior written approval from the respective author or creator. Downloading and reproduction of these pages are only permitted for private, non-commercial use.
    Third-party copyright laws have been observed in regards to content on this website that was not created by the website owner. Third-party content is identified as such. Please inform us, if you become aware of any copyright infringement. Upon notification of copyright infringements, we will remove such content without delay.


    Changes
    25.02.2024 V 1.0
</div>
{% endblock %}