{% extends 'base.html' %}

{% block body %}
<div id="topnav_main_div" class="clearfix">

    <div id="topnav_logo_welcome_main_div" class="clearfix">

        <div id="topnav_logo_div">
            <a href="/dashboard"><img src="../static/img/website_logo_100px.png" alt="StonkTrades Logo"
                    height="100px" width="100px"></a>
        </div>

        <div id="topnav_welcome_div">
            <p>Welcome, <b>{{ name }}</b></p>
        </div>

    </div>

    <div id="topnav_search_div">
        <input type="text" class="input" placeholder=" search by Ticker or Name..." name="q" hx-get="/searchbar" hx-trigger="keyup changed delay:500ms" hx-target="#searchbarresults">
        <table id="topnav_search_table">
            <thead id="topnav_search_table_head">
                <tr>
                    <th>Ticker</th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody id="searchbarresults">
            </tbody>
        </table>
    </div>

    <div id="topnav_settings_div">
        <!-- To-Do: Check if ADMIN logged in to display admin dashboard -->
        <a href="/dashboard" class="topnav_settings_item_div">Back to Dasboard</a>
        <a href="/logout" class="topnav_settings_item_div">Logout</a>
    </div>



<div id="nav_div">
    <ul>
        <li>
            <a href="/settings">Settings</a>
        </li>
    </ul>
</div>
</div>
<div id="content_div">
    {% block main_content %}
    {% endblock %}
</div>



<div id="footer_div">
    <a href="/dpow/gtcs">GTCs</a>
    <a href="/dpow/gdpr">GDPR</a>
    <a href="/dpow/imprint">IMPRINT</a>
</div>
{% endblock %}